torch
torchtext
gdown
numpy
pandas
glob2
transformers=4.31
accelerate
SentencePiece
datasets
joblib
portalocker
fairseq
# for fhirtotext.py
scikit-learn
spacy
# https://github.com/explosion/spacy-models/ for models